body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.football {
  pointer-events: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
  border-radius: 15px;
  border: 5px solid whitesmoke;
  
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img {
    margin-top: -2px;
    opacity: .8;
    
}
